<% provide(:title, "About") %>

<section id= "animation-about-page">
<div id= "stellar-about-page"></div>
 <h1>Love Space Mission</h1>
    <h2>
     We rocket a proof of your love into space to eternalize it ! </br></br> 
   </h2>
  <div id= "circle-container">
      <div class="circle-container"></div>
        <script>(function() {
        $(function() {
          var circles, i, left, size, top, total, _i;
          circles = "";
          total = 1;
          size = 570;
          top = function(index) {
            return -(size / 2) + (size / 2) * Math.cos((2 * Math.PI * (index - 1) / total) + Math.PI * 2/8);
          };
          left = function(index) {
            return -(size / 2) + (size / 2) * Math.sin( (2 * Math.PI * (index - 1) / total) + Math.PI * 2/8);
          };
          for (i = _i = 1; 1 <= total ? _i <= total : _i >= total; i = 1 <= total ? ++_i : --_i) {
            circles += "<div class=\"circle index-" + i + "\" style=\" width:" + size + "px; height:" + size + "px; top:" + (top(i)) + "px; left:" + (left(i)) + "px; \"></div>";
          }
          return $('.circle-container').html(circles);
        });

      }).call(this);
      //@ sourceURL=pen.js
      </script>
  </div>
  
</section>

<section id="about-page-mission">
 <div class="title-about">The mission
 </div>
 <div class="col-xs-0 col-md-1">
 </div>
 <div class="col-xs-12 col-md-6" style= "max-height: 480px;">
  <div class="about-description"> 
One day, some crazy guys decided they wanted to leave a part of them to be remembered for ever.  One of them got this surprising idea : <b>“What about sending love into space ?”</b> <br />They then booked a satellite to be sent into space with love proofs for their loves ones. <br />
<b><em>You can also join this very first space mission of a long series and unique life experience (to eternalise your love). But the space aboard is limited !</em></b> (ou “…” ? - contradiction?) <br /><br />

<b>Send us your love words, we will take care of the shipping to space !</b> <br />
And why not engrave our satellite with your message ? Just check below for more details. <br /><br />

Your love proof will be symbolised with a heart and displayed for ever on the <b>Heart Wall</b>. But only the <b>secret key</b> will give access to your personal love message. For an even greater expression of your love, you can make your love message directly accessible to everybody from the Heart Wall ! <br /><br />

Once the satellite is in space, you will be able to follow its position at any moment on the app or on this website.
</div>
</div>

<div class="col-xs-12 col-md-4">
  <%= image_tag("rocket_heart.png", style: "width: 70%; margin-left: auto; min-width: 200px; margin-top:100px;")%>
</div>
</section>



<section id="about-page-technical-description">
 <div class="title-about"> The rocket and the satellite</div>
 <div class="col-xs-0 col-md-1">
 </div>

 <div class="col-xs-12 col-md-4">
  <%= image_tag("satellite_circle.png", style: "width: 10%; margin-left: auto; margin-right: 100px; min-width: 150px; margin-top:10px;")%>
  <%= image_tag("rocket_circle.png", style: "width: 30%; margin-left: 200px; margin-right: 10px; min-width: 150px; margin-top: -110px;")%>
</div>

<div class="col-xs-12 col-md-6" style= "max-height: 480px;">
  <div class="about-description"> 
The 500 love messages will be printed and placed in the satellite. <br /> <br />

The satellite will then be installed on the rocket. <b>3, 2, 1 … Ready to launch !</b> <br /> <br />

At an altitude of XXXkm, the rocket will eject the satellite. The love messages will, from then on, be travelling on an orbit of 90 min at XXX km from Earth, and this until someone discovers them … Who knows in what century !
</div>
</div>
</section>



<section id="about-page-packages">
 <div class="title-about"> Packages
 </div>
 <div class="about-description"> 
 </br>Put 3 types of packages in 3 boxes with 2 bullet points per packages - check : https://launchkey.com</br>
</div>
</div>
</section>


<section id="about-page-logos">
  <p class="mission-description" style="font-size 2em; color: #fff; text-align:center;"> logos ?</p>
</section>