<% provide(:title, 'Contact us') %>
<section id="heart-display">
	<h1>Just do it.</h1>
	<h2 style="font-size: 1.8em; color: #fff">In case you feel you need more information or help of any kind,<br/> tell us everything about it!</h2>
	<div class= "centered">
		<%= mail_to "mail@love-space-mission.com", "mail@love-space-mission.com", style: "font-family: quicksand; text-align: center; font-size: 2em;" ,
		subject: "I want some help from an amazing team!",
		body: "Hey there! I'd just have a question or two.. Or more! I Know you will be glad to help me! :)" %>
	</div>
	<h2 style="font-size: 1.8em; line-height: 1.4; color: #fff">We would also be glad to meet you and buy you coffee if ever we are closeby! </br>(We have a particular preference for the Caramel Macchiato!)<br /> Tell us what you do and where you are! :)</h2>
	<div class= "centered" style= "width: 50%; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px;">
		<%= image_tag("orbiting-hearts.png", style: "width: 50%; margin-left: auto; margin-right: auto; min-width: 200px;")%>
	</div>
</section>