
<section id="vip">
<div class="center hero-unit">
  <h1 id="home-title">VIP Space Mission</h1>

  <h2 style="font-size:2.2em; line-height:1.4em">
    Coming soon ! <br /> We are preparing a unique experience for the elite. <br />
    Contact us for a personalized service or any other information.
  </h2>

  <!-- <%= link_to "Sign up now !", signup_path, class: "btn btn-large btn-primary" %> -->
  
  <div class= "centered">
  	<%=image_tag("diamond_outline_best.png", style: "width: 30%; margin-left: auto; margin-right:auto; margin-top: 30px; margin-bottom: 70px;") %>
  </div>
  <%= link_to "Contact us", contact_path, class: "btn btn-large btn-primary", id: "btn-reserve-preview" %>
</div>
</section>