
<section id="vip">
<div class="center hero-unit">
  <h1 id="home-title">VIP Space Mission</h1>

  <h2>
    Comming soon... <br /> We are preparing a unique experience for the elite.
  </h2>

  <!-- <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> -->
  
  <div class= "centered">
  	<%=image_tag("gears.png", style: "width: 30%; margin-left: auto; margin-right:auto; margin-top: 30px; margin-bottom: 70px;") %>
  </div>
  <%= link_to "Back", choice_path, class: "btn btn-large btn-primary", id: "btn-reserve-preview" %>
</div>
</section>