
<section id="vip">
<div class="center hero-unit">
  <h1 id="home-title">VIP Space Mission</h1>

  <h2>
    An eternal proof of your MONEY that will be shown here and sent into space!
  </h2>

  <!-- <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> -->

  <%= link_to "Offer a Golden Heart", choice_path, class: "btn btn-large btn-primary", id: "btn-reserve-preview" %>
  
  <div class= "centered">
  	<%=image_tag("galaxy_background.jpg") %>
  </div>
</div>
</section>