<% provide(:title, "Error 404") %>

<section id="404">
	 <div class="center hero-unit">
<h1> Oops, it looks like you got lost ! </h1>
<h2> No worries. Simply click on the button below and we'll get you back on track. </h2>

	<%= link_to "Save me !", choice_path, class: "btn btn-large btn-primary bigger-hover", id: "btn-reserve-preview" %>
</div>
</section>