<% provide(:title, "Error 404") %>

<section id="404">
	 <div class="center hero-unit">
<h1 style= "margin-top: -50px; margin-bottom: 50px;"> Oops, it looks like you got lost ! </h1>
<div class= "centered" style= "width: 50%; margin-left: auto; margin-right: auto;">
<%= image_tag("rocket.png", style: "width: 50%; margin-left: auto; margin-right: auto; min-width: 200px;")%>
</div>
<h2 style="font-size: 1.6em"> No worries. Simply click on the button below and we'll get you back on tracks. </h2>

	<%= link_to "Save me !", root_url, class: "btn btn-large btn-primary bigger-hover", id: "btn-reserve-preview" %>
</div>
</section>