<% provide(:title, "Maintenance") %>

<section id="422">
<h1> Maintenance </h1>
<div class= "centered" style= "width: 50%; margin-left: auto; margin-right: auto;">
<%= image_tag("gears.png", style: "width: 50%; margin-left: auto; margin-right: auto; min-width: 200px;")%>
</div>
<h1> Sorry, we are actually updating the website. </h1>
<h2> You might try reloading the page in a little while or <%= link_to "contact us", contact_path %> if the problem persists. </h2>
</section>