<% if @posts.any? %>
		<% @posts.each do |post| %>
		<% @post= post %>
			<% if signed_in? %>
				<% if current_user.admin? %>
					<div id="<%= post.secret_key %>">
						<%= render partial: "admin_pannel_item"%>
					</div>
				<% end %>
			<% end %>
		<% end %>
<% end %>
