
<section id="home">
<div class="center hero-unit">
  <h1 id="home-title">Payment Space Mission</h1>

  <h2>
    An eternal proof of your love that will be shown here and sent into space...
  </h2>

  <h1>
    You owe us <%= current_user.microposts.last.standard_price.to_s %>
  </h1>
</div>
</section>