
<section id="home">
<div class="center hero-unit">
  <h1 id="home-title">Space Mission Payment</h1>

  <h2>
  </h2>

  <h1>
    You owe us <%= current_user.microposts.last.standard_price.to_s %>
  </h1>
</div>
</section>