<% provide(:title, "Offer your Heart") %>
<section>
      <div class="col-xs-12 col-sm-12 col-sm-offset-0">
          <h1 id="preview-title">Offer your Heart</h1>
      </div> 
</section>
<section>
      <div class="col-xs-12 col-sm-12 col-sm-offset-0">
        <div class="main-logo" id="heart-preview">          
            <%= render 'shared/micropost_form' %>
          </div>
        </div>
      
</section>

