@import "bootstrap";

/* MAIN COLORS */
  /* Color Bar */
/* FONT */
/* UNIVERSAL */
  /* Users index */
  /* microposts */
/* TYPOGRAPHY */
/* BUTTONS */
/* HEADER */
/* FOOTER */
/* MIXINS, VARIABLES, ETC. */
/* MISCELLANEOUS */
  /* Checkboxes from http://cssdeck.com/labs/css-checkbox-styles */
/* FORMS */
/* HOMEPAGE */
  /* Heart display */
/* TERMS OF USE */
/* SOCIAL NETWORKS */  

/* ____________________________________ */
/* CHROME BUG FIX (fonts not displayed, need to be re-painted)*/

@font-face {
  font-family: 'quicksand';
  src:url('quicksand.eot');
  src:url('quicksand.eot?#iefix') format('embedded-opentype'),
    url('quicksand.svg#quicksand') format('svg'),
    url('quicksand.woff') format('woff'),
    url('quicksand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* END CHROME BUG FIX */

/* ____________________________________ */
/* MAIN COLORS */
$color1: #2f3238;
$color2: #26292e;
$color3: #de5e60;
$color4: #0D679C;
$colorText1: #7f8289;
$colorText2: #fff;
$grayLight: #bbb;



/* === COLOR BAR === */

#ColorBar {
    width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 9999;
}

#ColorBar div {
    height: 10px;
    width: 8.3333333%;
    margin: 0;
    padding: 0;
    float: left;
}

@media(max-width: 480px) {
    #ColorBar {
        width: 103%;
    }
}


.kim-yellow {
    background: #f2ea00;
}

.kim-amber {
    background: #ebce13;
}

.kim-orange {
    background: #f0aa14;
}

.kim-sunset {
    background: #f08630;
}

.kim-red {
    background: #f07a60;
}

.kim-fuchsia {
    background: #ee78f0;
}

.kim-purple {
    background: #bd90f0;
}

.kim-indigo {
    background: #9092f0;
}

.kim-blue {
    background: #7fbadc;
}

.kim-aqua {
    background: #90f0e3;
}

.kim-green {
    background: #91d271;
}

.kim-lime {
    background: #c5f060;
}

.kim-yellow-color {
    color: #f2ea00;
}

.kim-amber-color {
    color: #ebce13;
}

.kim-orange-color {
    color: #f0aa14;
}

.kim-sunset-color {
    color: #f08630;
}

.kim-red-color {
    color: #f07a60;
}

.kim-fuchsia-color {
    color: #ee78f0;
}

.kim-purple-color {
    color: #bd90f0;
}

.kim-indigo-color {
    color: #9092f0;
}

.kim-blue-color {
    color: #7fbadc;
}

.kim-aqua-color {
    color: #90f0e3;
}

.kim-green-color {
    color: #91d271;
}

.kim-lime-color {
    color: #c5f060;
}


/* ____________________________________ */
/* ADMIN PAGES */


.admin-pannel-posts ol{
  padding-top: 0px;
  padding-left:0px;
  padding-right:0px;
  margin: 20px;
  width: 20%;
  height: 200px;
  overflow: auto;
  text-align: center;
}

.admin-pannel-posts ol li.content-secret-key{
  font-family: quicksand !important;
  font-size: 1.3em !important;
  color: $colorText1 !important;
  list-style: none;
  margin-bottom: 6px;
  margin-left:auto;
  margin-right:auto;
  width: 90%  !important;
  a{
    color: $color3  !important;
  }
  }
  .admin-pannel-posts ol li.content{
  font-family: quicksand !important;
  font-size: 1em !important;
  color: #fff !important;
  list-style: none;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  }
  .admin-pannel-posts ol li.content-space{
  font-family: quicksand !important;
  font-size: 1.3em !important;
  color: #fff !important;
  list-style: none;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
  }
  

.btn-admin-tile{
  font-family: quicksand;
  width: 90%  !important;
  margin-left: 5%;
  margin-right: 5%;
  color: #fff !important;
  background-color: transparent;
  padding: 3px !important;
  margin-top: 3px;
  margin-bottom: 8px;
  text-align: center !important;
  border-color: #fff !important;
  border-radius: 2px;
  border: 1px solid #fff;  
  &:hover {
    font-weight: 700;
  }
}

.btn-flag{
  font-family: quicksand;
  width: 100%  !important;
  height: 5px;
  color: #fff !important;
  background-color: transparent;
  padding: 3px !important;
  margin-bottom: 8px;
  border-color: #fff !important;
  border-radius: 0px; 
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  &:hover {
    background-color: $color3;
  }
}

.btn-flagged{
  font-family: quicksand;
  width: 100%  !important;
  height: 5px;
  color: #fff !important;
  background-color: $color3;
  padding: 3px !important;
  margin-bottom: 8px;
  border-color: #fff !important;
  border-radius: 0px; 
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  &:hover {
    background-color: #fff;
  }
}


/* ____________________________________ */
/* FONT */
/* font-family: 'Quicksand', sans-serif; */



/* ____________________________________ */
/* UNIVERSAL */

html {
  overflow: scroll;
}

body {
  padding-top:  60px;
  background-color: $color2;
}

section {
  padding-top:80px;
  padding-bottom:80px;
  overflow: hidden;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* Users index */

.users {
  list-style: none;  
    overflow: auto;
    padding: 30px;
    margin: 15px;
    border: 2px solid $color1;
    &:last-child {
      border: 2px solid $color1;
    }
  
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


/* ____________________________________ */
/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Quicksand', sans-serif;
  font-size: 400;
}

h1 {
  padding-top: 30px;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $color3;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $colorText1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#preview-title{
  color: $colorText2;
  font-size: 80px;
  min-width: 803px;
  }

#home-title{
  color: $colorText2;
  font-size: 80px !important;
  margin-top: -100px !important;
  margin-bottom: 10px;
  }

.choice-description{
  font-size: 1.6em;
  letter-spacing: -1px;
  text-align: center;
  font-family: quicksand;
  font-weight: 400;
  color: $colorText1;
  color: #fff; 
  margin-top:100px; 
  margin-bottom: 50px;
}



/* ____________________________________ */
/* BUTTONS */

.btn {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 400 !important;
  background-color: $color3 !important;
  border-color: $color3 !important;
  color: $color2 !important;
  &:hover {
    font-weight: 700;
  }
}


#btn-home-info {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 40px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff !important;
  background-color: $color2 !important;
  border-color: #fff !important;
  text-align: center;
  height: 60px;
  width: auto;
  font-weight: 400;
}

#btn-home-info:hover {
  background-color: $color3 !important;
  border-color: #fff !important;
  color: #fff !important;
}

#btn-home-choice {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 40px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff !important;
  background-color: $color2 !important;
  border-color: #fff !important;
  text-align: center;
  height: 60px;
  width: auto;
  font-weight: 400;
}

#btn-home-choice:hover {
  background-color: $color3 !important;
  border-color: #fff !important;
  color: #fff !important;
}


.bigger-hover{
    -moz-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.bigger-hover:hover{
   -moz-transform: scale(1.1) translate(0px);
    -webkit-transform: scale(1.1) translate(0px);
    -o-transform: scale(1.1) translate(0px);
    transform: scale(1.1) translate(0px);
}



#btn-reserve-preview {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 40px !important;
  background-color: $color3 !important;
  border-color: $color3 !important;
  color: #fff !important;
  text-align: center !important;
  height: auto;
  width: auto;
  font-weight: 400;
    -moz-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}


#btn-reserve-preview:hover {
    -moz-transform: scale(1.1) translate(0px);
    -webkit-transform: scale(1.1) translate(0px);
    -o-transform: scale(1.1) translate(0px);
    transform: scale(1.1) translate(0px);
}

#btn-choice-vip {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 40px !important;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: $color2 !important;
  border-color: $color3 !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 300;
}

#btn-choice-vip:hover {
  color: $color3 !important;
  }



#btn-choice-space {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 40px !important;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 40px;
  background-color: $color2 !important;
  border-color: $color3 !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 400;
}


#btn-choice-space:hover {
    color: $color3 !important;
}

#btn-choice-web {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 40px !important;
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: $color2 !important;
  border-color: $color3 !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 400;
}


#btn-choice-web:hover {
    color: $color3 !important;
}

#btn-access-payment {
  font-family: 'Quicksand', sans-serif !important;
  margin-top: 80px;
  font-size: 40px !important;
  background-color: $color1 !important;
  border-color: $color3 !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 400;
}


#btn-access-payment:hover {
  background-color: $color3 !important;
  border-color: #fff !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 400;
}



/* ____________________________________ */
/* HEADER */

#logo {
  float: none;
  margin: 10px;
  font-size: 1.7em;
  color: $color3;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  font-family: 'Quicksand', sans-serif;
  &:hover {
    color: $colorText1;
    text-decoration: none;
  }
}


#header {
  background-color: $color2;
  border-bottom-color: $color2;
  height: 70px;
  padding-top: 20px;
  /*text-align: center;*/
}

#btn-menu {
  margin-right: 10px;
  color: $color3 !important;
  background-color: $color1 !important;
  border-color: $color1 !important;
}

#btn-menu-dropdown {
  background-color: $color1 !important;
  border-color: $color1 !important;
  a {
    color: $color3 !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    &:hover {
      font-weight: 700;
      background-color: $color2 !important;
    }
  }
}


/* ____________________________________ */
/* FOOTER */

/* to push the footer down you need to take 100% of the page space */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}


/* Wrapper for page content to push down footer */
#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

footer {
  font-family: 'Quicksand', sans-serif;
  margin-top: 0px ;
  margin-bottom:0px ;
  color: $color2;
  border-top: 2px solid $color1;
  background-color: $color2;
  height: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
  a {
    color: $colorText1;
    &:hover {
      color: $color3;
      text-decoration: none;
    }
  }
}


footer ul {
  float: center;
  list-style: none;
  li {
    float: right;
    margin-right: 20px;
  }
}

/* ____________________________________ */
/* MIXINS, VARIABLES, ETC. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* ____________________________________ */
/* MISCELLANEOUS */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.centered
{
  text-align:center;
}

a {
    color: $color3;
    &:hover {
      color: $color3;
      text-decoration: none;
      font-weight: 700;
    }
  }



/* ____________________________________ */
/* Checkboxes from http://cssdeck.com/labs/css-checkbox-styles */

input[type=checkbox] {
  /*visibility: hidden;*/
}

/* SLIDE ONE */
.slideOne {
  width: 50px;
  height: 10px;
  background: #333;
  margin: 20px auto;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideOne label {
  display: block;
  width: 16px;
  height: 16px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: -3px;
  left: -3px;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideOne input[type=checkbox]:checked + label {
  left: 37px;
}

/* SLIDE TWO */
.slideTwo {
  width: 80px;
  height: 30px;
  background: #333;
  margin: 20px auto;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideTwo:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  height: 2px;
  width: 52px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #111;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideTwo label {
  display: block;
  width: 22px;
  height: 22px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 4px;
  z-index: 1;
  left: 4px;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideTwo label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #333;
  left: 6px;
  top: 6px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}

.slideTwo input[type=checkbox]:checked + label {
  left: 54px;
}

.slideTwo input[type=checkbox]:checked + label:after {
  background: #00bf00;
}

/* SLIDE THREE */
.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
  content: 'OFF';
  font: 12px/26px Arial, sans-serif;
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
  content: 'ON';
  font: 12px/26px Arial, sans-serif;
  color: #00bf00;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

.slideThree label {
  display: block;
  width: 34px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}

/* ROUNDED ONE */
.roundedOne {
  width: 28px;
  height: 28px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  margin: 20px auto;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.roundedOne label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00bf00;

  background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: linear-gradient(top, #00bf00 0%, #009400 100%);

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  top: 2px;
  left: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.roundedOne input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* ROUNDED TWO */
.roundedTwo {
  width: 28px;
  height: 28px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  margin: 20px auto;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.roundedTwo label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.roundedTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* SQUARED ONE */
.squaredOne {
  width: 28px;
  height: 28px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  margin: 20px auto;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.squaredOne label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00bf00;

  background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: linear-gradient(top, #00bf00 0%, #009400 100%);

  top: 2px;
  left: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* SQUARED TWO */
.squaredTwo {
  width: 28px;
  height: 28px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  margin: 20px auto;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.squaredTwo label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}


/* SQUARED THREE */
.squaredThree {
  width: 20px;  
  margin: 20px auto;
  position: relative;
}

.squaredThree label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  border-radius: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredThree label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* SQUARED FOUR */
.squaredFour {
  width: 10px;  
  margin: 10px;
  position: relative;
  background: transparent;
}

.squaredFour label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  border-radius: 4px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 12px;
  height: 9px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredFour label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 100;
}



/* ____________________________________ */
/* FORMS */


.form-control {

  font-family: quicksand;

  background: $color2;
  
  color: #fff !important;
  margin: auto;
  margin-bottom: 15px;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

.form-control:focus {
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


#heart-preview-header{background-color: $color1;}


#heart-preview {

  background: transparent image-url("heart_small.png") no-repeat center center;
  min-width: 803px;
  min-height: 741px;
  background-color: $color1;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 80px;
  padding-right: 140px;
  padding-left: 140px;
  padding-top: 120px;
  border-color: $colorText2 !important;
}

#micropost_content {

  font-family: quicksand;
  background: transparent;
  width: 600px;
  height: 300px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#micropost_content:focus {
    color: #555555;
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#micropost_extra {

  font-family: quicksand;

  background: transparent;
  max-width: 400px;
  max-height: 70px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#micropost_extra:focus {
    color: #555555;
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


#micropost_name1 {

  font-family: quicksand;

  background: transparent;
  max-width: 200px;
  max-height: 40px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#micropost_name1:focus {
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}



#micropost_name2 {

  font-family: quicksand;

  background: transparent;
  max-width: 200px;
  max-height: 40px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#micropost_name2:focus {
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#micropost_secret_key {

  font-family: quicksand;

  background: $color1;
  width: 300px;
  height: 30px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#micropost_secret_key:focus {
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


/* this is for the home search */
#_secret_key {

  font-family: quicksand;

  background: $color2;
  width: 300px;
  height: 30px;
  color: #fff !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#_secret_key:focus {
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


input {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 15px;
  color: $color3;
  @include box_sizing;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px $color2 inset !important;
    -webkit-text-fill-color: #333;
}


#error_explanation {
  color: $colorText1;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-top: 30px;
  ul {
    list-style: none;
    margin: 18px 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
  @extend .has-warning;
  @extend  .has-success;
}

.alert{
  color: $color1;
  background-color: $colorText1;
  font-family: 'Quicksand', sans-serif;
}

.alert2{
  color: $color1;
  background-color: $color3;
  border-color: $color3;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 600px;
}

#button-signup-from-signin {
  margin-left: 5px;
  background-color: $colorText1 !important;
  border-color: $colorText1 !important;

}


input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: $color3;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: $color3;
}


/* ____________________________________ */
/* HOMEPAGE */


#home{
  padding-top:80px;
    padding-bottom:20px;
    background-color: $color2;
}

#home-enter-secret-key{
  padding-top:20px;
  padding-bottom:30px;
  background-color: $color1;
}

#home-page-top-middle{
  background: transparent image-url('heart_small.png') no-repeat center center;
  background-size: contain;
  background-color: transparent;
  margin-top: 90px;
  margin-bottom: 60px;
  height: 100px;
  color: #fff;
  text-align: center;
  font-family: quicksand;
  font-weight: 300;
  font-size: 1.4em;
  overflow: auto;
}

#home-page-top-left{
  background: transparent image-url('rocket.png') no-repeat center center;
  background-size: contain;
  background-color: transparent;
  padding: 0px;
  height: 200px;
  color: #fff;
  text-align: center;
  font-family: quicksand;
  font-weight: 300;
  font-size: 1.4em;
  overflow: auto;
  h2{
    margin-top: 180px;
  }
  }


#home-page-top-right{
  background: transparent image-url('orbiting-hearts.png') no-repeat center center;
  background-size: contain;
  background-color: transparent;
  padding: 0px;
  height: 200px;
  color: #fff;
  text-align: center;
  font-family: quicksand;
  font-weight: 300;
  font-size: 1.4em;
  overflow: auto;
  h2{
    margin-top: 180px;
  }
  }


/* SOCIAL NETWORKS */

#social-network {
  padding-top: 0px;
  padding-bottom: 30px;
  background: transparent;
}


/* HEART DISPLAY */


#heart-display{
  border-top: 2px solid $color1;
  background: image-url("stellar_background_light_dots.png") repeat center;
}

#heart-display-page {

  background-color: $color2;
  margin: auto;
  margin-top: -100px;
  margin-bottom: 80px;
  padding-right: 140px;
  padding-left: 140px;
  padding-top: 120px;
  h1{
    color: $color1;
    font-size: 80px !important;
    padding-bottom: 50px;
  }
}

#heart-display-standard {

  background: transparent image-url("heart_small.png") no-repeat center center;
  min-width: 803px;
  min-height: 741px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 80px;
  padding-right: 140px;
  padding-left: 140px;
  padding-top: 120px;

}

#heart-display-content {

  p{  
    font-family: quicksand;
    color: $colorText2 !important;
    margin: 0px;
    padding: 0px;
    }
    background: transparent;
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
    border-color: $color3;
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;      
    
}



#heart-display-extra {

  font-family: quicksand;

  background: transparent;
  max-width: 400px;
  height: 70px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
}


#heart-display-name1 {

  font-family: quicksand;

  background: transparent;
  max-width: 200px;
  max-height: 40px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 20px;
  text-align: center;
  word-wrap: break-word;      
}


#heart-display-name2 {

  font-family: quicksand;

  background: transparent;
  max-width: 200px;
  max-height: 40px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 20px;
  text-align: center;
  word-wrap: break-word;      
}



#heart-display{
  padding-top:20px;
  padding-bottom:80px;
  background-color: $color2;

  h1{
    color: $colorText2;
    font-size: 80px !important;
    padding-bottom: 50px;
  }
}



.heart-display-feed{
  margin-left:auto;
  margin-right:auto;
  width:90%;
  margin-top: 30px;
  padding:auto;
  align: center;
  float:none

}


.heart {
  background: transparent image-url('heart_small.png') no-repeat center center;
  background-size: contain;
  background-color:transparent;
  float:none;
  list-style:none;
  width: 200px;
  height: 200px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:0;
  color: #fff;
  padding-top: 40px;
  text-align: center;
  font-family: quicksand;
  font-weight: 300;
  font-size: 1.4em;
}

.heart.heart-rocket {
  background: transparent image-url('heart_small_rocket.png') no-repeat center center;
  background-size: contain;
  background-color:transparent;
  float:none;
  list-style:none;
  width: 310px;
  height: 310px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:0;
  color: #fff;
  padding-top: 70px;
  text-align: center;
  font-family: quicksand;
  font-weight: 400;
  font-size: 1.8em;
}



.heart.heart-vip {
  background: transparent image-url('heart_small_VIP.png') no-repeat center center;
  background-size: contain;
  background-color:transparent;
  float:none;
  list-style:none;
  width: 420px;
  height: 420px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:0;
  color: #fff;
  padding-top: 100px;
  text-align: center;
  font-family: quicksand;
  font-weight: 400;
  font-size: 2.4em;
}


/* ____________________________________ */
/* TERMS OF USE */

.title-terms {
  line-height: 1;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: 700;
  color: $colorText1;
}
  
.terms-use {
  line-height: 1.2;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  margin-bottom: 30px;
  text-align: justify;
  font-weight: 400;
  color: $colorText1;
}

.terms-listing {
  line-height: 1.2;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  margin-bottom: 30px;
  text-align: justify;
  font-weight: 400;
  color: $colorText1;
}

/* ____________________________________ */
/* FACEBOOK LIKE / TWITTER */

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";


#control-buttons-homepage {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    text-align: center;
    background: transparent;
    /*border-radius: 5px;
    padding: 14px 7px;
    background: #222222;
    width: 760px;
    overflow: hidden;
    margin: 150px auto 0;
    box-shadow:0 2px 3px rgba(71, 71, 71, 0.31);*/
}


.button {
    background: transparent;
    position: relative;
    display: block;
    float: left;
    height: 40px;
    margin: 0 7px;
    margin-top: 7px;
    overflow: hidden;
    width: 165px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.button-facebook {
    background: transparent;
    position: relative;
    display: block;
    float: left;
    height: 40px;
    margin: 0 7px;
    margin-top: 7px;
    overflow: hidden;
    width: 165px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


.icon {
    display: block;
    float: left;
    position: relative;
    z-index: 3;
    height: 100%;
    vertical-align: top;
    width: 38px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
}

.icon i {
    color: #fff;
    line-height: 42px;
}

.slide {
    z-index: 2;
    display: block;
    margin: 0;
    height: 100%;
    left: 38px;
    position: absolute;
    width: 127px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

.slide-facebook {
    z-index: 2;
    display: block;
    margin: 0;
    height: 100%;
    left: 38px;
    position: absolute;
    width: 127px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

.slide p {
    font-family: Quicksand;
    font-weight: 400;
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255,255,255,0.35);
    color: #fff;
    font-size: 16px;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
}

.slide:hover p {
  font-weight: 700;
}

.slide-facebook p {
    font-family: Quicksand;
    font-weight: 400;
    border-left: 1px solid #fff;
    border-left: 1px solid rgba(255,255,255,0.35);
    color: #fff;
    font-size: 16px;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
}

.button .slide {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.button-facebook .slide-facebook {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.facebook iframe {
    width: 95px !important;
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1;
}

.twitter iframe {
    width: 90px !important;
    right: 5px;
    top: 10px;
    z-index: 1;
    display: block;
    position: absolute;
}

.VIP iframe {
    margin-left: 400px;
    margin-right: 15px;
    margin-top: 10px !important;
    position: absolute;
    z-index: 1;
}

.space  iframe {
    top: 10px;
    display: block;
    right: 22px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}

.facebook:hover .slide-facebook {
    left: 165px;
}

.twitter:hover .slide {
    top: -40px;
}

.VIP:hover .slide {
    bottom: 0px;
    font-weight: 700;
}

.space:hover .slide {
    left: 38px;
}

.social-bigger-hover{
    -moz-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.social-bigger-hover:hover{
   -moz-transform: scale(1.1) translate(0px);
    -webkit-transform: scale(1.1) translate(0px);
    -o-transform: scale(1.1) translate(0px);
    transform: scale(1.1) translate(0px);
}

.facebook .icon, .facebook .slide-facebook {
    background: #305c99;
}

.twitter .icon, .twitter .slide {
    background: #00cdff;
}

.VIP .icon, .VIP .slide {
    background: #7e1325;
}

.space .icon, .space .slide {
    background: #b62d41;
}

