@import "bootstrap";

/* MAIN COLORS */
  /* Color Bar */
/* FONT */
/* UNIVERSAL */
  /* Users index */
  /* microposts */
/* TYPOGRAPHY */
/* BUTTONS */
/* HEADER */
/* FOOTER */
/* MIXINS, VARIABLES, ETC. */
/* MISCELLANEOUS */
/* FORMS */
/* HOMEPAGE */
  /* Heart display */

/* ____________________________________ */
/* CHROME BUG FIX (fonts not displayed, need to be re-painted)*/

@font-face
{
font-family: quicksand;
src: url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
}


body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    font-family: 'Quicksand', sans-serif;

}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}
/* END CHROME BUG FIX */

/* ____________________________________ */
/* MAIN COLORS */
$color1: #2f3238;
$color2: #26292e;
$color3: #de5e60;
$colorText1: #7f8289;
$colorText2: #fff;
$grayLight: #bbb;


/* === COLOR BAR === */

#ColorBar {
    width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 9999;
}

#ColorBar div {
    height: 10px;
    width: 8.3333333%;
    margin: 0;
    padding: 0;
    float: left;
}

@media(max-width: 480px) {
    #ColorBar {
        width: 103%;
    }
}


.kim-yellow {
    background: #f2ea00;
}

.kim-amber {
    background: #ebce13;
}

.kim-orange {
    background: #f0aa14;
}

.kim-sunset {
    background: #f08630;
}

.kim-red {
    background: #f07a60;
}

.kim-fuchsia {
    background: #ee78f0;
}

.kim-purple {
    background: #bd90f0;
}

.kim-indigo {
    background: #9092f0;
}

.kim-blue {
    background: #7fbadc;
}

.kim-aqua {
    background: #90f0e3;
}

.kim-green {
    background: #91d271;
}

.kim-lime {
    background: #c5f060;
}

.kim-yellow-color {
    color: #f2ea00;
}

.kim-amber-color {
    color: #ebce13;
}

.kim-orange-color {
    color: #f0aa14;
}

.kim-sunset-color {
    color: #f08630;
}

.kim-red-color {
    color: #f07a60;
}

.kim-fuchsia-color {
    color: #ee78f0;
}

.kim-purple-color {
    color: #bd90f0;
}

.kim-indigo-color {
    color: #9092f0;
}

.kim-blue-color {
    color: #7fbadc;
}

.kim-aqua-color {
    color: #90f0e3;
}

.kim-green-color {
    color: #91d271;
}

.kim-lime-color {
    color: #c5f060;
}


/* ____________________________________ */
/* FONT */
/* font-family: 'Quicksand', sans-serif; */



/* ____________________________________ */
/* UNIVERSAL */

html {
  overflow: scroll;
}

body {
  padding-top:  60px;
  background-color: $color1;
}

section {
  padding-top:80px;
  padding-bottom:80px;
  overflow: hidden;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLight;
    &:last-child {
      border-bottom: 1px solid $grayLight;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


/* ____________________________________ */
/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Quicksand', sans-serif;
  font-size: 400;
}

h1 {
  padding-top: 30px;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $color3;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $colorText1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#preview-title{
  color: $colorText2;
  font-size: 80px;
  min-width: 803px;
  }

#home-title{
  color: $colorText2;
  font-size: 80px !important;
  }



/* ____________________________________ */
/* BUTTONS */

.btn {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 400 !important;
  background-color: $color3 !important;
  border-color: $color3 !important;
  color: $color2 !important;
  &:hover {
    font-weight: 700;
  }
}

.bigger-hover{
    -moz-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.bigger-hover:hover{
   -moz-transform: scale(1.1) translate(0px);
    -webkit-transform: scale(1.1) translate(0px);
    -o-transform: scale(1.1) translate(0px);
    transform: scale(1.1) translate(0px);
}



#btn-reserve-preview {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 40px !important;
  background-color: $color3 !important;
  border-color: $color3 !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 400;
    -moz-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}


#btn-reserve-preview:hover {
    -moz-transform: scale(1.1) translate(0px);
    -webkit-transform: scale(1.1) translate(0px);
    -o-transform: scale(1.1) translate(0px);
    transform: scale(1.1) translate(0px);
}

#btn-choice-vip {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 40px !important;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: $color2 !important;
  border-color: $color3 !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 300;
}

#btn-choice-vip:hover {
  color: $color3 !important;
  }



#btn-choice-space {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 40px !important;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 40px;
  background-color: $color2 !important;
  border-color: $color3 !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 400;
}


#btn-choice-space:hover {
    color: $color3 !important;
}

#btn-choice-web {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 40px !important;
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: $color2 !important;
  border-color: $color3 !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 400;
}


#btn-choice-web:hover {
    color: $color3 !important;
}

#btn-access-payment {
  font-family: 'Quicksand', sans-serif !important;
  margin-top: 80px;
  font-size: 40px !important;
  background-color: $color1 !important;
  border-color: $color3 !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 400;
}


#btn-access-payment:hover {
  background-color: $color3 !important;
  border-color: #fff !important;
  color: #fff !important;
  text-align: center;
  height: auto;
  width: auto;
  font-weight: 400;
}



/* ____________________________________ */
/* HEADER */

#logo {
  float: none;
  margin: 10px;
  font-size: 1.7em;
  color: $color3;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  font-family: 'Quicksand', sans-serif;
  &:hover {
    color: $colorText1;
    text-decoration: none;
  }
}


#header {
  background-color: $color2;
  border-bottom-color: $color2;
  height: 70px;
  padding-top: 20px;
  /*text-align: center;*/
}

#btn-menu {
  color: $color3 !important;
  background-color: $color1 !important;
  border-color: $color1 !important;
}

#btn-menu-dropdown {
  background-color: $color1 !important;
  border-color: $color1 !important;
  a {
    color: $color3 !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    &:hover {
      font-weight: 700;
      background-color: $color2 !important;
    }
  }
}


/* ____________________________________ */
/* FOOTER */

/* to push the footer down you need to take 100% of the page space */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto 0px;
  /* Pad bottom by footer height */
  padding: 0 0 0px;
}

footer {
  margin-top: 0px;
  margin-bottom:0px;
  padding-top: 5px;
  color: $color2;
  border-top: 2px solid $color1;
  background-color: $color2;
  height: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
  a {
    color: $colorText1;
    &:hover {
      color: $color3;
      text-decoration: none;
    }
  }
}


footer ul {
  float: center;
  list-style: none;
  li {
    float: right;
    margin-right: 20px;
  }
}

/* ____________________________________ */
/* MIXINS, VARIABLES, ETC. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* ____________________________________ */
/* MISCELLANEOUS */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.centered
{
  text-align:center;
}

/* ____________________________________ */
/* FORMS */


.form-control {

  font-family: quicksand;

  background: $color2;
  
  color: #fff !important;
  margin: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

.form-control:focus {
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}





#heart-preview {

  background: transparent image-url("heart_small.png") no-repeat center center;
  min-width: 803px;
  min-height: 741px;
  background-color: $color1;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 80px;
  padding-right: 140px;
  padding-left: 140px;
  padding-top: 120px;
  border-color: $colorText2 !important;
}

#micropost_content {

  font-family: quicksand;
  background: transparent;
  width: 600px;
  height: 300px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#micropost_content:focus {
    color: #555555;
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#micropost_extra {

  font-family: quicksand;

  background: transparent;
  max-width: 400px;
  max-height: 70px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#micropost_extra:focus {
    color: #555555;
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


#micropost_name1 {

  font-family: quicksand;

  background: transparent;
  max-width: 200px;
  max-height: 40px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#micropost_name1:focus {
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}



#micropost_name2 {

  font-family: quicksand;

  background: transparent;
  max-width: 200px;
  max-height: 40px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#micropost_name2:focus {
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#micropost_secret_key {

  font-family: quicksand;

  background: $color1;
  width: 300px;
  height: 30px;
  color: $colorText2 !important;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#micropost_secret_key:focus {
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


/* this is for the home search */
#_secret_key {

  font-family: quicksand;

  background: $color2;
  width: 300px;
  height: 30px;
  color: #fff !important;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: auto;
  border-color: $color3;
  font-size: 18px;
  text-align: center;
  word-wrap: break-word;  
  border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
}

#_secret_key:focus {
    border: 1px solid #fff;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


input {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 15px;
  color: $color3;
  @include box_sizing;
}

#error_explanation {
  color: $colorText1;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
  @extend .has-warning;
  @extend  .has-success;
}

.alert{
  color: $color1;
  background-color: $colorText1;
  font-family: 'Quicksand', sans-serif;
}

.alert2{
  color: $color1;
  background-color: $color3;
  border-color: $color3;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 25px;
  max-width: 600px;
}

#button-signup-from-signin {
  margin-left: 5px;
  background-color: $colorText1 !important;
  border-color: $colorText1 !important;

}


input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: $color3;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: $color3;
}


/* ____________________________________ */
/* HOMEPAGE */


#home{
  padding-top:80px;
    padding-bottom:80px;
    background-color: $color2;
}

#home-enter-secret-key{
  padding-top:20px;
  padding-bottom:30px;
  background-color: $color1;
}



/* HEART DISPLAY */

#heart-display{
  padding-top:20px;
  padding-bottom:80px;
  background-color: $color2;

  h1{
    color: $colorText2;
    font-size: 80px !important;
    padding-bottom: 50px;
  }
}

.heart-display-feed{
  margin-left:auto;
  margin-right:auto;
  width:90%;
  padding:auto;
  align: center;
  float:none

}


.heart {
  background: transparent image-url('heart_small.png') no-repeat center center;
  background-size: contain;
  background-color:transparent;
  float:left;
  list-style:none;
  width: 200px;
  height: 200px;
  margin: 20px;
  padding:0;
  color: #fff;
  padding-top: 40px;
  text-align: center;
  font-family: quicksand;
  font-weight: 300;
  font-size: 1.4em;
}







