// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* MAIN COLORS */
/*-CHOICE PAGE */
/*- FINALIZE PAGE */
/*- DESCRIPTION PAGE */


/* MAIN COLORS */
$color1: #2f3238;
$color2: #26292e;
$color3: #de5e60;
$colorText1: #7f8289;
$colorText2: #fff;
$grayLight: #bbb;



/* ____________________________________ */
/* CHROME BUG FIX (fonts not displayed, need to be re-painted)*/

/* END CHROME BUG FIX */


/*------------ CHOICE PAGE ------------ */


#choice-page-main-title{
  padding-top:80px;
  padding-bottom:80px;
  background-color: $color2;

}



#choice-page-vip-section{
  padding-top:80px;
  padding-bottom:80px;
  background-color: $color1;

}


#choice-page-space-section{
  padding-top:80px;
  padding-bottom:80px;
  background-color: $color2;

}


#choice-page-web-section{
  padding-top:80px;
  padding-bottom:80px;
  background-color: $color1;
}


/*------------ FINALIZE PAGE ------------ */


#finalize-page-secret{
  padding-top:5px;
  padding-bottom:40px;
  overflow: hidden;
  background-color: $color2;
  .centered{
    width: 40%;
    margin:auto;
  }
  h1{
    color: $color3;
    font-size: 4em;
  }

  h2{
    color: $grayLight;
    font-size: 1.7em;
  }

  p{
    color: #fff;
    font-size: 1em;
    font-family: quicksand;
    font-weight: 300;
  }
  .form-control {
    max-width: 300px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
  }
}

#finalize-page-partner{
  padding-top:5px;
  padding-bottom:40px;
  overflow: hidden;
  background-color: $color1;

  .centered {
    width: 50%;
    margin:auto;
  }

  h1{
    color: $color3;
    margin-bottom: 35px;
    font-size: 4em;
  }

  h2{
    color: $grayLight;
    font-size: 1.7em;
  }

  p{
    color: #fff;
    font-size: 1em;
    font-family: quicksand;
    font-weight: 300;
  }
  .form-control {
    max-width: 300px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
  }

  #zip-and-city{
    text-align: center;
  }

  #zip-and-city .form-control {
    text-align: center;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
    max-width: 145px;

  }
}



#finalize-page-user{
  padding-top:5px;
  padding-bottom:100px;
  overflow: hidden;
  background-color: $color2;

  .centered{ 
    width: 40%;
    margin:auto;
  }

  h1{
    color: $color3;
    font-size: 4em;
  }

  h2{
    color: $grayLight;
    font-size: 1.7em;
  }

  p{
    color: #fff;
    font-size: 1em;
    font-family: quicksand;
    font-weight: 300;
  }
  .form-control {
    max-width: 300px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
  }
}


/*------------ DESCRIPTION PAGE ------------ */


@-webkit-keyframes spiral-trigo {
  0%   { -webkit-transform: rotateZ(360deg);   }
  100% { -webkit-transform: rotateZ(0deg); }
}
@keyframes spiral-trigo {
  0%   { transform: rotateZ(360deg);   }
  100% { transform: rotateZ(0deg); }
}

@-webkit-keyframes spiral-clock {
  0%   { -webkit-transform: rotateZ(0deg);   }
  100% { -webkit-transform: rotateZ(360deg); }
}
@keyframes spiral-clock {
  0%   { transform: rotateZ(0deg);   }
  100% { transform: rotateZ(360deg); }
}

#animation-about-page {
  /*background: transparent image-url('http://www.love-space-mission.com/assets/stellar_background_light_dots.png') no-repeat center;*/
  background-size: cover;
  border: 2px solid $color1;
  margin-top: 10px;
  position: relative;


  h2{
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: normal;
  color: $colorText1;
  position: relative;
  }
}

#animation-about-page h1{
    color: #fff !important;
    font-size: 5em !important;
    margin-top: -80px !important;
    margin-bottom: 10px !important;
    position: relative;

  }


#stellar-about-page {
  background: transparent image-url('stellar_background_light_dots_large.png') repeat center;
  background-size: contain;
  border: 1px solid $color1;
  width: 180%;
  height: 180%;
  
  position: absolute;
  top: -35%;
  left: -35%;
  
  margin-top: 10px;
   -webkit-animation: spiral-clock 250s infinite linear;
  animation: spiral-clock 250s infinite linear;
  overflow:hidden;
}


#circle-container {
  background: transparent image-url('orbiting-hearts.png') no-repeat center;
  background-size: 25%;
  min-height: 590px;
  position: relative;
}

.circle-container {
  margin-top: 0px;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: spiral-trigo 20s infinite linear;
  animation: spiral-trigo 20s infinite linear;

  .circle {
    border-radius: 50%/50%;
    border: 0px solid #37b2e0;
    position: absolute;
    background: image-url('rocket.png') no-repeat center center;
    background-size: 27%;
  }
}




